ul.tags {
  text-align: right;
  background-color: #ddd;
  padding: 3px 8px;
  li {
    display: inline-block;
  }
}
div.social-sharing {
  background-color: #ddd;
  background-color: #ddd;
  height: 60px;
  line-height: 50px;
  padding: 10px;
  text-align: right;
}
